body {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.row .col-sm-12 {
	text-align: center;
}

.character.selected img {
	border: 10px solid black;
	border-radius: 15px;
}

.character.hero img {
	border: 10px solid blue;
	border-radius: 15px;
}

.character.currentEnemy img {
	border: 10px solid red;
	border-radius: 15px;	
}

.character img {
	border-radius: 10px;
	width: 200px;
	height: 200px;
	background-color: lightgrey;
	margin: 10px;
}

.character .stats {
	display: inline-block;
}